# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
# You are using .venv, but we list others just in case
.venv/
venv/
env/

# --- Security (CRITICAL) ---
# These files contain your API keys. NEVER commit them.
.env

# --- Streamlit ---
# config.toml is usually safe, but secrets.toml contains passwords


# --- Database ---
# If your "Database" folder contains actual data files, ignore them.
# Keep the folder, but ignore the binary files inside.
*.sqlite3
*.db
*.csv


# --- PyCharm Settings ---
# These are your personal window layouts
.idea/

# --- OS Junk ---
.DS_Store
Thumbs.db

uv.lock
pyproject.toml
.python-version